doctype html
html
  head
    meta(charset='UTF-8')
    title Money Jar
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

  body
    nav.navbar.navbar-light.bg-faded
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href='/')
            img(src='/assets/money-jar.jpeg', width='30', height='20', alt='')
          ul.nav.navbar-nav
            li
              a(href="/signup") Signup
            li
              a(href="/login") Login
            li
              a(href="/logout") Logout
      div.jumbotron
        div.container-fluid
          p.text-center.strong Welcome to the Money Jar
          img.center-block(src='/assets/money-jar.jpeg', width='90', height='90', alt='')
    .container
      block body
