extends layout

block body
  div.jumbotron
    div.container-fluid
      p.text-center.strong Login Here
      form(id="user name", method="POST", action="/login")
        div.form-group
          label(for="nameInput") Email
          input(type="text", id="email", placeholder="Enter your email here", name="email").form-control
        div.form-group
          label(for="nameInput") Password
          input(type="password", id="password", placeholder="Password", name="password").form-control
          button(type="submit") Login
