extends layout

block body
  div.jumbotron
    div.container-fluid
      form(id="user name", method="POST", action="/signup")
        div.form-group
          label(for="nameInput") Name
          input(type="text", id="nameInput", placeholder="Enter your name here", name="name").form-control
        div.form-group
          label(for="emailInput") Email
          input(type="text", id="emailInput", placeholder="Enter your email here", name="email").form-control
        div.form-group
          label(for="password") Password
          input(type="password", id="password", placeholder="Password", name="password").form-control
        div.form-group
          label(for="admin") Are you an admin?
          input(type="checkbox", id="admin", name="isAdmin").form-control
        div.form-group
          button(type="submit") Signup
